<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petition</title>
</head>
<body>
    <h1>Please use the form to update your account information</h1>
            <form method="POST">
            <h3>First Name</h3>
            <input type="text" name="first" value="{{first}}">
            <h3>Surname</h3>
            <input type="text" name="last" value="{{last}}">
             <h3>Email Address</h3>
            <input type="text" name="email" value="{{email}}">
             <h3>Password</h3>
            <input type="password" name="password" placeholder="Password">
            <h3>Age</h3>
            <input type="text" name="age" value="{{age}}">
            <h3>City</h3>
            <input type="text" name="city" value="{{city}}">
             <h3>Webpage</h3>
            <input type="text" name="url" value="{{url}}">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button id="submit" type="submit">Update</button>
            </form>
            </html>
            {{!-- <script src="canvas.js"></script> --}}
</body>
</html>