<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signers</title>
</head>
<body>
    <h1>SIGNERS</h1>
{{#each signers}}<p><a href="http://{{url}}">{{first}} {{last}}</a> {{age}} <a href="/signers/{{city}}">{{city}}</a></p>{{/each}}
</body>
</html>